/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/bold.png");
}
.markItUp .markItUpButton2 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/italic.png");
}
.markItUp .markItUpButton3 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/underline.png");
}

.markItUp .markItUpButton4 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/picture.png");
}
.markItUp .markItUpButton5 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/link.png");
}

.markItUp .markItUpButton6 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/fonts.png");
}
.markItUp .markItUpButton7 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/list-bullet.png");
}
/*.markItUp .markItUpButton8 a	{*/
	/*background-image:image-url("simple_forum/markitup/sets/bbcode/images/list-numeric.png");*/
/*}*/
.markItUp .markItUpButton8 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/list-item.png");
}

.markItUp .markItUpButton9 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/quotes.png");
}
.markItUp .markItUpButton10 a	{
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/code.png");
}
	
.markItUp .clean a {
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/clean.png");
}
.markItUp .preview a {
	background-image:image-url("simple_forum/markitup/sets/bbcode/images/preview.png");
}