<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || '' %></title>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Open Container -->
<div class="container">
  <% if flash.present? %>
      <div id="flash_messages">
        <% flash.each_pair do |key, val| %>
            <%= content_tag :div, val, :class => key %>
        <% end %>
      </div>
  <% end %>

  <!-- Main Content -->
  <%= yield %>
  <!-- / end Main Content -->

</div>
<!-- / close container -->

</body>
</html>
