<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || '' %></title>
  <%= javascript_include_tag :default %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Open Container -->
<div class="container">

  <!-- Main Content -->
  <%= yield %>
  <!-- / end Main Content -->

</div>
<!-- / close container -->

</body>
</html>
